# Making the table of previous LL SNe II for the paper

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.getcwd()+'/LLSNe/LL_expds_hand.csv')
df

,name,expd,expderr,type,ref,mu,z,host
0,1997D,2450367.5,40.0,s,2003MNRAS.338..711Z,30.74,0.0040,NGC 1536
1,1999br,2451277.0,4.0,n,2004MNRAS.347...74P,30.97,0.0030,NGC 4900
2,2002gd,2452553.0,4.0,s,2014ApJ...786...67A,32.87,0.0070,NGC 7537
3,2002gw,2452560.0,4.0,s,2014ApJ...786...67A,32.98,0.0100,NGC 922
4,2003B,2452617.0,11.0,s,2014ApJ...786...67A,31.11,0.0040,NGC 1097
5,2003fb,2452777.0,6.0,s,2014ApJ...786...67A,34.43,0.0170,UGC 11522
6,2003Z,2452664.0,4.5,n,2003IAUC.8062....1R,31.70,0.0060,NGC 2742
7,2004fx,2453309.5,3.0,n,2004IAUC.8431....2P,32.82,0.0090,MCG -02-14-003
8,2005cs,2453549.5,1.0,n,2017MNRAS.467..369S/2006MNRAS.370.1752P,29.46,0.0010,M51
9,2007aa,2454136.3,5.0,s,2014ApJ...786...67A,31.95,0.0050,NGC 4030
10,2008bk,2454543.4,6.0,n,2014ApJ...786...67A/2012AJ....143...19V,27.68,0.0008,NGC 7793
11,2008in,2454823.3,6.0,s,2014ApJ...786...67A,30.60,0.0050,NGC 4303
12,2009N,2454847.3,5.0,s,2014ApJ...786...67A,31.67,0.0030,NGC 4487
13,2010id,2455454.5,2.0,n,2011ApJ...736..159G,32.86,0.0170,NGC 7483
14,2012A,2455928.9,5.0,n,2012CBET.2974....2L,29.96,0.0020,NGC 3239
15,2012aw,2456002.9,0.5,n,2014ApJ...787..139D,29.97,0.0030,NGC 3351
16,2012ec,2456143.5,2.0,s,2012CBET.3201....1M,31.19,0.0050,NGC 1084
17,2013am,2456372.0,1.0,n,2014ApJ...797....5Z,30.54,0.0030,NGC 3623
18,2016aqf,2457440.7,4.0,s,2020MNRAS.497..361M,30.16,0.0040,NGC 2101
19,2016bkv,2457467.9,1.3,n,2018ApJ...859...78N,30.79,0.0020,NGC 3184

In [4]:
for sn in df.name:
    row = df[(df['name']==sn)]
    host = row['host'].values[0]
    print('SN '+sn+' & '+str(row['expd'].values[0])+' ('+str(row['expderr'].values[0])+') & '+\
          "{:.3f}".format(round(row['z'].values[0],3))+' & '+"{:.2f}".format(row['mu'].values[0])+' & '+\
          host+' & \citet{'+','.join(row['ref'].values[0].split('/'))+r'} \\')

SN 1997D & 2450367.5 (40.0) & 0.004 & 30.74 & NGC 1536 & \citet{2003MNRAS.338..711Z} \\
SN 1999br & 2451277.0 (4.0) & 0.003 & 30.97 & NGC 4900 & \citet{2004MNRAS.347...74P} \\
SN 2002gd & 2452553.0 (4.0) & 0.007 & 32.87 & NGC 7537 & \citet{2014ApJ...786...67A} \\
SN 2002gw & 2452560.0 (4.0) & 0.010 & 32.98 & NGC 922 & \citet{2014ApJ...786...67A} \\
SN 2003B & 2452617.0 (11.0) & 0.004 & 31.11 & NGC 1097 & \citet{2014ApJ...786...67A} \\
SN 2003fb & 2452777.0 (6.0) & 0.017 & 34.43 & UGC 11522 & \citet{2014ApJ...786...67A} \\
SN 2003Z & 2452664.0 (4.5) & 0.006 & 31.70 & NGC 2742 & \citet{2003IAUC.8062....1R} \\
SN 2004fx & 2453309.5 (3.0) & 0.009 & 32.82 & MCG -02-14-003 & \citet{2004IAUC.8431....2P} \\
SN 2005cs & 2453549.5 (1.0) & 0.001 & 29.46 & M 51 & \citet{2017MNRAS.467..369S,2006MNRAS.370.1752P} \\
SN 2007aa & 2454136.3 (5.0) & 0.005 & 31.95 & NGC 4030 & \citet{2014ApJ...786...67A} \\
SN 2008bk & 2454543.4 (6.0) & 0.001 & 27.68 & NGC 7793 & \citet{2014ApJ...786...67A,2012AJ....143...19V} \\
SN 2008in & 2454823.3 (6.0) & 0.005 & 30.60 & NGC 4303 & \citet{2014ApJ...786...67A} \\
SN 2009N & 2454847.3 (5.0) & 0.003 & 31.67 & NGC 4487 & \citet{2014ApJ...786...67A} \\
SN 2010id & 2455454.5 (2.0) & 0.017 & 32.86 & NGC 7483 & \citet{2011ApJ...736..159G} \\
SN 2012A & 2455928.9 (5.0) & 0.002 & 29.96 & NGC 3239 & \citet{2012CBET.2974....2L} \\
SN 2012aw & 2456002.9 (0.5) & 0.003 & 29.97 & NGC 3351 & \citet{2014ApJ...787..139D} \\
SN 2012ec & 2456143.5 (2.0) & 0.005 & 31.19 & NGC 1084 & \citet{2012CBET.3201....1M} \\
SN 2013am & 2456372.0 (1.0) & 0.003 & 30.54 & NGC 3623 & \citet{2014ApJ...797....5Z} \\
SN 2016aqf & 2457440.7 (4.0) & 0.004 & 30.16 & NGC 2101 & \citet{2020MNRAS.497..361M} \\
SN 2016bkv & 2457467.9 (1.3) & 0.002 & 30.79 & NGC 3184 & \citet{2018ApJ...859...78N} \\